<div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Component layer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register_component">Register component</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="update_component">Update component</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="log">Log</a>
                    </li>
            </ul>

            <ul class="navbar-nav"> 
                <li class="nav-item">
                    <a class="btn btn-light" href="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>