<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
    />
    
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='index.css') }}"
    />
    
    <title>Component layer</title>
</head>
<body>
    <div class="main-container">
        {% include "navbar.html" %}

        <div class="title-container">
            <h1 class="fw-bold">Component layer</h1>
        </div>


        <div class="selectorMenu">
            <form method="POST">
                <div class="category-container">
                    <label for="category_select">Category</label>
                    <select name="select_category" class="form-select form-select-lg">
                        {% for category in categories %}
                            {% if category == selected_cat%}
                                <option value="{{ category }}" selected>{{ category  }}</option>
                            {% else %}
                                <option value="{{ category }}">{{ category  }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                    
                <div class="order-container">
                    <label for="category_select">Order by stock</label>
                    <select name="select_sort" class="form-select form-select-lg">
                        {% if order_select == "select_asc" %}
                            <option value="select_asc" selected>Ascending</option>
                            <option value="select_desc">Descending</option>
                        {% else %}
                            <option value="select_asc">Ascending</option>
                            <option value="select_desc" selected>Descending</option>
                        {% endif %}
                    </select>
                </div>
                
                <div class="btn-container">
                    <label for="">Submit search</label>
                    <br>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="searchResult">
            <div class="item-container">
                <table>
                    <tr>
                        <th>Item name</th>
                        <th>Package type</th>
                        <th>Category</th>
                        <th>Amount in stock</th>
                    </tr>
                    {% for item in data %}                       
                            <tr>
                                <td>{{ item[0] }}</td>
                                <td>{{ item[3] }}</td>
                                <td>{{ item[2] }}</td>
                                <td>{{ item[1] }}</td>
                            </tr>                       
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>